<h1>Pet Details</h1>

<div class="pet-details">
  <p><strong>Name:</strong> <%= @pet.name %></p>
  <p><strong>Age:</strong> <%= @pet.age %></p>
  <p><strong>Description:</strong> <%= @pet.description %></p>

  <div class="actions">
    <%= link_to 'Edit', edit_pet_path(@pet), class: "btn edit-btn" %>
    <%= button_to 'Remove', pet_path(@pet), method: :delete, class: "btn delete-btn" %>
    <%= link_to 'Home', pets_path, class: "btn" %>
  </div>
</div>
